h1 {
    background-color: goldenrod;
    color: white;
    text-align: center;
    margin-top: 0%;
    font-weight: bold;
}

p {
    background-color: gray;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}